
[submodule "RiseFi/lib/forge-std"]
	path = RiseFi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "RiseFi/lib/openzeppelin-contracts"]
	path = RiseFi/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
