{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
} 